html, body {
  margin: 0;
  padding: 0;
}
html, body, #visualizer {
  width: 100%;
  height: 100%;
}
body {
  background-color: rgba(0, 0, 0, 0.9);
}
button.mark {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#visualizer div:hover {
  box-shadow:
    white 1px 1px 0,
    white 1px -1px 0,
    white -1px 1px 0,
    white -1px -1px 0;
}
